Flask==0.10.1
Jinja2==2.7.3
configobj==5.0.6
gunicorn==19.3.0
itsdangerous==0.24
nltk==3.0.0
numpy==1.9.0
pycurl==7.19.51
scikit-learn==0.15.2
scipy==0.14.0
sympy==0.7.5
virtualenv==13.1.2
wsgiref==0.1.2